<!DOCTYPE html>
<html style="font-size: 17px;"><head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/_css/join_group.css">
    <link rel="stylesheet" href="__PUBLIC__/_css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/_css/dropload.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/_css/border.css"/> -->
    <title>校友圈</title>
    <style>
        html,body{display: block !important;}
    </style>
<body style="background: #F5F5F5;">
<div class="topic_wrapper wrap">
    <div class="theme_header" id="group">
        <div class="fl theme_header_left">
            <!--<p class="theme_img fl">-->
            <!--<img src="https://file.xiaomiquan.com/group_img/3a3443555040663136eb5ab83bdcef6088bf861fb6586b25ec9ad0ca68ccf476.jpg" onload="resizeImg(event)" style="height: 2.53rem; width: 3.11rem; left: -0.29rem; z-index: 1;">-->
            <!--</p>-->
            <span class="fl">校友圈</span>
        </div>
        <!--<a class="fr t_header_a" onclick="joinGroup()" style="display: block;">-->
        <!--加入圈子-->
        <!--</a>-->
        <a class="fr create_a" onclick="Public.goEdit()"><span>发表</span></a>
    </div>
    <div class="content">
        <ul class="theme_list" id="topics">
            <!--<li onclick="redirectTo();">-->
            <!--<div class="topic-main">-->
            <!--<div class="topic-li">-->
            <!--<p class="fl top-m-img">-->
            <!--<img src="__PUBLIC__/_images/avastar.png">-->
            <!--</p>-->
            <!--<div class="topic-p">-->
            <!--<p class="f-3-16">美象</p>-->
            <!--<p class="f-g-11 pt4">1 小时前</p>-->
            <!--</div>-->
            <!--<em class="theme-narrow"></em>-->
            <!--</div>-->
            <!--<div class="f-3-16 topic-m-div">小蜜圈盈利了吗？<span class="dot"></span></div>-->
            <!--<div class="pay-list" style="padding-left: 0 !important;">-->
            <!--<span class="pay-like">0</span>-->
            <!--<span class="pay-reply">1</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li onclick="redirectTo();">-->
            <!--<div class="topic-main">-->
            <!--<div class="topic-li">-->
            <!--<p class="fl top-m-img">-->
            <!--<img src="https://file.xiaomiquan.com/user_avatar/1482851598762150373.jpg">-->
            <!--</p>-->
            <!--<div class="topic-p">-->
            <!--<p class="f-3-16">曹军怀</p>-->
            <!--<p class="f-g-11 pt4">6 小时前</p>-->
            <!--</div>-->
            <!--<em class="theme-narrow"></em>-->
            <!--</div>-->
            <!--<div class="f-3-16 topic-m-div">是的没错的<span class="dot"></span></div>-->
            <!--<div class="pay-list" style="padding-left: 0 !important;">-->
            <!--<span class="pay-like">0</span>-->
            <!--<span class="pay-reply">0</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
        </ul>
        <div class="dropload-down">
            <div class="dropload-refresh">↑上拉加载更多</div>
            <!-- <div class="dropload-load"><span class="loading"></span>加载中...</div> -->
        </div>
    </div>

</div>
<!-- <div class="bottom">
    <div class="support"></div>
    <div>
        <ul class="bottom_ul">
            <li class="list_icon">
                <a href="../grouplist/grouplist.html"><span>圈子</span></a>
            </li>
            <li class="my_icon">
                <a href="../myhome/myhome.html"><span>我</span></a></li>
        </ul>
    </div>
</div> -->
<script type="text/javascript" src="__PUBLIC__/_js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/_js/template.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/_js/dropload.min.js"></script> -->
<!-- <script type="text/javascript" src="__PUBLIC__/_js/audio.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/_js/js.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/_js/public.js?type=dwa32121"></script>
<script type="text/javascript" src="__PUBLIC__/_js/index.js?type=dwa321211"></script>
<script type="text/javascript">
</script>
</body>
</html>